@import "tailwindcss";

@font-face {
    font-family: 'Outfit';
    src: url('../asset/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 300, 400, 600;
    font-style: normal;
}

@theme{
    --font-sans: "Outfit";

    --text-base: 18px;

    --breakpoint-ssm: 375px;

    --color-white: hsl(0, 100%, 100%);
    --color-cyan-400: hsl(178, 100%, 50%);

    --color-blue-500: hsl(215, 51%, 70%);
    --color-blue-800: hsl(215, 32%, 27%);
    --color-blue-900: hsl(216, 50%, 16%);
    --color-blue-950: hsl(217, 54%, 11%);

}

@layer base {
    a{
        @apply text-white hover:text-cyan-400 active:text-cyan-400 transition-colors duration-300 ease-in-out;
    }
}

@layer components {
    .base-flex{
        @apply flex flex-row gap-2 justify-center items-center;
    }
    .img-filter{
        @apply absolute inset-0 bg-cyan-400/40 
        opacity-0 group-hover:opacity-100 transition-all duration-300 active:scale-95
        rounded-2xl flex justify-center items-center select-none;
    }
}

